{
  "extends": "eslint:recommended",
  "rules": {
      "consistent-return": 2,
      "indent"           : [1, 2],
      "no-else-return"   : 1,
      "semi"             : [1, "always"],
      "space-unary-ops"  : 2
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
