{
  "extends": "eslint:recommended",
  "rules": {
      "consistent-return": 2,
      "indent"           : [1, 2],
      "no-else-return"   : 1,
      "semi"             : ["error", "never"],
      "space-unary-ops"  : 2,
      "no-unused-vars": "off",
      "no-undef": "off",
      "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
